/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
.idea/*
/node_modules
/public/vendor
/public/assets/fonts
/public/assets/js
/public/assets/script.min.js
/public/assets/style.min.css